*{
    padding: 0;
    margin: 0;
    
}

body{

    background-image: url(images/background1.jpg);
    font-family: amsterdam;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

@font-face {
    font-family: 'amsterdam';
    src: url(fonts/amsterdam-font/Amsterdam-ZVGqm.ttf);
}

.title{
   
    font-size: 25px;
    text-align: center;
    background-color: rgba(77, 38, 0, 60%);
    width: max-content;
    padding: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 100px;
    border-style: dashed;
    border-width: 5px;

}

.container{
    background-color: rgba(77, 38, 0, 60%);
    margin-top: 40px;
    font-size: 23px;
    width: 100%;
    margin-bottom: 80px;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    
}

ul{
    list-style-type: none;
}

a:link{
 text-decoration: none;
}

a:hover{
    transition: 1s ease-in-out;
    color: rgb(196, 156, 0);
    text-decoration: underline;
}


.space{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 75px;
    text-align: center;
    border-width: 4px black;
}

.color{
    color:black;
}
 
.space2{
    border-radius: 20px;
    border-width: 5px;
}

.imgs{
 display: flex;
 justify-content: space-between;
 margin: 15px;
 
}
